<div class="toolbar" role="banner">
    <img class="centreLogo" width="40" alt="Marvel-app Logo"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.t7wB15jukar8JCoTCN-o_QHaEn%26pid%3DApi&f=1" />
    <span class="userName">Jayashree</span>
    <div class="spacer"></div>
    <div class='glyphicon glyphicon-search'></div>
</div>
<div class="toolbar toolbar-two" role="banner">
    <a class="characters" routerLink = "/characters">Characters</a>
    <a class="comics" routerLink = "/comics">Comics</a>
    <a class="movies" routerLink = "/movies">Movies</a>
    <a class="TVshows" routerLink = "/TVshows">T V shows</a>
    <a class="videos" routerLink = "/videos">Videos</a>
</div>