@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h2{
    font-family: 'Pacifico', cursive;
    margin-top:150px;
    margin-left: 47%;
}
// .tvshowHeader{
//   position: relative;
  
//   h4{
//     background-color: rgb(37, 5, 5);
//   margin-top: 130px;
//   color: rgb(149, 142, 142);
//   display: block;
//   text-align: center;
//   }
// }
.tvshow-list {
    font-family: 'Pacifico', cursive;
    margin-right: 10px;
    background-color: rgba(0, 15, 15, 0.979);
    display: inline-flex;
    margin-top:120px;

    .tvshow {
        background: rgb(69, 119, 107); 
        width: 150px;
        padding: 12px;
        border-radius: 5px;
        margin-top: 12px;
        margin-bottom: 12px;
        display: inline-flex;
        margin-left: 10px;
        position: relative;
        height: 260px;
        font-size: 15px;
        color: white;
        text-align: center;
          
        a {
            color : unset;
            &:hover {
              color : unset;
              text-decoration : none;
            }
          }
            
        .image {
            height: 150px;
            width : 130px;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
             transform: scale(1);
            -webkit-transition: .3s ease;
             transition: .3s ease;
          }  
          
          p {
            margin: 0;
            margin-top: 20px;
            color: rgb(206, 240, 240);
            font-size: 18px;
          } 
   
    }
    
    .tvshow:nth-child(even) {
        background: rgb(128, 128, 16);
      }
}